*{
    padding: 0px;
    margin-top: 0px;
}

html, body{
    background-color: bisque;
}

/* Organizando os elementos dentro dos blocos */
.bloco-1{
    /* Configuração padrão */
    background-color: lightblue;
    /* height: 100%;
    width: 100%; */
    font-size: 6em;
    border-radius: 20px;

    /* ! Alterando a ordem dos elementos */
    /* Padrão = order: 0; */
    /* Ordem de Preferência: -1, 0, 1 */
    /* Em caso de empate: prevalece a ordem no HTML */
    order: 1;

    /* ! Aumentando os items */
    /* Padrão: flex-grow: 0; */
    /* Onde tiver espaço, ele cresce */
    /* Proporcional: 0 a 1 (0.1, 0.5, etc) */
    /* Não aceita números negativos */
    /* flex-grow: 1; */

    /* ! Diminuindo os itens */
    /* Padrão = flex-shrink: 1; */
    /* Proporcional: 1, 2, 4 */
    /* Não aceita números negativos */
    /* flex-shrink: 2; */

    /* ! Definindo o tamanho dos itens */
    /* Padrão: flex-basis: auto; */
    /* flex-basis = Leva em consideração o tamanho do conteúdo */
    /* Aceita 0, px, em */

    /* ! Definindo uma regra única */
    /* flex: 0 1 auto; */

    /* ! Especificando uma posição para o bloco */
    /* Prevalece sobre a regra geral */
    align-self: flex-start;
}
.bloco-2{
    /* Configuração padrão */
    background-color: lightgoldenrodyellow;
    /* height: 100%;
    width: 100%; */
    font-size: 6em;
    border-radius: 20px;

    /* ! Alterando a ordem dos elementos */
    /* Padrão = order: 0; */
    /* Ordem de Preferência: -1, 0, 1 */
    /* Em caso de empate: prevalece a ordem no HTML */
    order: 1;

    /* ! Aumentando os items */
    /* Padrão: flex-grow: 0; */
    /* Onde tiver espaço, ele cresce */
    /* Proporcional: 0 a 1 (0.1, 0.5, etc) */
    /* Não aceita números negativos */
    /* flex-grow: 1; */

    /* ! Diminuindo os itens */
    /* Padrão = flex-shrink: 1; */
    /* Proporcional: 1, 2, 4 */
    /* Não aceita números negativos */
    /* flex-shrink: 2; */

    /* ! Definindo o tamanho dos itens */
    /* Padrão: flex-basis: auto; */
    /* flex-basis = Leva em consideração o tamanho do conteúdo */
    /* Aceita 0, px, em */

    /* ! Definindo uma regra única */
    /* flex: 0 1 auto; */

    /* ! Especificando uma posição para o bloco */
    /* Prevalece sobre a regra geral */
    align-self: center;
}
.bloco-3{
    /* Configuração padrão */
    background-color: lightsalmon;
    /* height: 100%;
    width: 100%; */
    font-size: 6em;
    border-radius: 20px;

    /* ! Alterando a ordem dos elementos */
    /* Padrão = order: 0; */
    /* Ordem de Preferência: -1, 0, 1 */
    /* Em caso de empate: prevalece a ordem no HTML */
    order: 1;

    /* ! Aumentando os items */
    /* Padrão: flex-grow: 0; */
    /* Onde tiver espaço, ele cresce */
    /* Proporcional: 0 a 1 (0.1, 0.5, etc) */
    /* Não aceita números negativos */
    /* flex-grow: 0.1; */

    /* ! Diminuindo os itens */
    /* Padrão = flex-shrink: 1; */
    /* Proporcional: 1, 2, 4 */
    /* Não aceita números negativos */
    /* flex-shrink: 2; */

    /* ! Definindo o tamanho dos itens */
    /* Padrão: flex-basis: auto; */
    /* flex-basis = Leva em consideração o tamanho do conteúdo */
    /* Aceita 0, px, em */
    
    /* ! Definindo uma regra única */
    /* flex: 0 1 auto; */

    /* ! Especificando uma posição para o bloco */
    /* Prevalece sobre a regra geral */
    align-self: flex-end;
}

/* Organizando os blocos */
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    align-content: center;
    row-gap: 10px;
    column-gap: 30px;
    padding: 16px;
    height: 500px;
}
