/* "*" = Atributos gerais (válido para todo HTML) */
*{
    margin: 0;
    padding: 0;
}

/* "p" = Selecionando todos os parágrafos */
p{
    color: green;
}

/* Selecionando certos elementos em HTML
(exceto os selecionados por especialidade) */
/* Pode selecionar dois ou mais elementos */
h1, p{
    color: yellow;
}

/* Selecionando um elemento específico
por especialidade (último elemento) */
/* Pode selecionar dois ou mais elementos */
/* Tem preferência sobre outras seleções */
body div section p,
body div section h1{
    color: red;
}

/* ".nome_classe" = Selecionando uma classe específica */
.caixa{
    background: red;
    height: 120px;
    width: 120px;
}