body{
    font-family: Arial, Helvetica, sans-serif;
}
table{
    width: 500px;
    border-collapse: collapse;
}
caption{
    font-size: 1.3em;
    font-weight: bolder;
    padding: 8px;
}
th, td{
    border: 1px solid black;
    padding: 8px;
}

/* Colorindo uma linha */
/* tr.destaque{
    background-color: aqua;
} */

/* Colorindo uma coluna */
.cnome{
    background-color: lightblue;
}
.csexo{
    background-color: lightgreen;
}
.cidade{
    background-color: lightyellow;
}
.cprof{
    background-color: lightcoral;
}