body{
    font-family: Arial, Helvetica, sans-serif;
}
table{
    width: 400px;
    height: 400px;
    /* Eliminando os espaços entre as células */
    border-collapse: collapse;
    border: 5px solid red;
}
tr.linha{
    /* Colorindo uma linha inteira */
    background-color: gray
}
td{
    /* Definindo a borda das células */
    border: 1px solid black;
    /* Aumentando o tamanho das células */
    padding: 8px;
    /* Alinhamento no centro */
    text-align: center;
}
td#dado{
    /* Colorindo uma célula específica */
    background-color: yellow;
}