@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face{
    font-family: 'Android';
    src: url('./fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

/* Definindo variáveis */
:root{
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    /* Pesquisar no Google Fonts a origem das fontes */
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

a{
    color: cyan !important;
    text-decoration: none;
}

a:hover{
    color: blue !important;
    text-decoration: underline;
}

a:active{
    color: red !important;
    text-decoration: underline;
}

body{
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}
header{
    background-color: var(--cor4);
    padding: 20px;
    text-align: center;
}
header > h1{
    color: var(--cor5);
    font-family: var(--fonte-destaque);
    font-size: 2em !important;
}
header > p{
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: white;
    text-align: center;
}
nav{
    background-color: var(--cor5);
    padding: 20px;
    text-align: center;
}
nav > a{
    padding: 10px 20px 10px 20px;
    background-color: var(--cor3);
    border-radius: 20px;
}
nav > a:hover{
    background-color: var(--cor4);
    border-radius: 20px;
}
main{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.534);
}
main h1{
    color: white;
    font-family: var(--fonte-android);
}
main h2{
    font-family: var(--fonte-android);
}
main img{
    width: 100%;
}
main img.pequena{
    width: 50%;
    display: block;
    margin: auto;
}
main strong{
    background-color: #83e1ad;
    border-radius: 10px;
    padding: 4px;
}
h1{
    font-size: 3em;
    line-height: 4em;
    text-align: center;
    background-color: #1a5c37;
    border-radius: 20px;
}
h2{
    line-height: 4em;
    text-align: center;
    background-image: linear-gradient(to right, var(--cor3), transparent);
    border-radius: 10px;
    padding: 20px;
}
p{
    /* Distância entre as linhas */
    line-height: 2.5em;
    text-indent: 50px;
    text-align: justify;
    padding: 20px;
}
aside{
    background-color: #2fa866;
    padding: 20px;
    border-radius: 40px;
}
aside > h3{
    background-image: linear-gradient(to right, var(--cor4), transparent);
    border-radius: 20px;
    padding: 10px;
}
aside > p{
    padding: 4px;
}
aside > ul{
    list-style-position: inside;
    columns: 2;
    line-height: 2em;
}
.irina{
    border-radius: 40px;
}
iframe{
    width: 100%;
    margin: auto;
}
.video{
    background-image: linear-gradient(to right, var(--cor4), transparent) !important;
    padding: 40px;
    border-radius: 40px;
    margin-bottom: 20px;
}
footer{
    background-color: var(--cor5);
    color: white;
    text-align: center;
    padding: 20px;
}