/* Configuração prévia */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');
:root{
    --primary-color: black;
    --secundary-color: crimson;
    --white-color: white;
    --light-gray-color: gray;
    --gap: 3rem;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
/* Estrutura principal do site */
a{
    text-decoration: none;
}
p{
    margin-bottom: 3rem;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    color: var(--white-color);
    line-height: 1.5;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-size: 6rem;
    text-transform: uppercase;
}
h2{
    font-size: 5.5rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    line-height: 1.2;
}
h3{
    font-size: 5rem;
}
h4{
    font-size: 4.5rem;
}
h5{
    font-size: 4rem;
}
h6{
    font-size: 3.5rem;
}
.main-bg{
    background-image: url('../img/stacked-waves-haikei.svg');
    background-size: cover;
    background-position: center center;
}
.white-bg{
    background-color: var(--white-color);
    color: var(--primary-color);
}
.main-content{
    max-width: 120rem;
    margin: 0 auto;
    padding: 10rem var(--gap)
}
.section{
    min-height: 100vh;
}
/* Menu principal do site */
.menu{
    background-color: var(--white-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 2;
    border-bottom: 0.1rem solid var(--light-gray-color);
}
.menu-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}
.menu h1{
    font-size: 2.3rem;
    color: var(--primary-color);
}
.menu h1 a{
    color: inherit;
}
.menu ul{
    list-style: none;
    display: flex;
}
.menu ul li a{
    display: block;
    padding: 2rem;
    font-size: 1.8rem;
    color: var(--primary-color);
    position: relative;
}
.menu section nav ul li a::after{
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background-color: var(--secundary-color);
    transition: all 300ms ease-in-out;
}
.menu section nav ul li a:hover::after{
    width: 50%;
    left: 25%;
}
.menu-spacing{
    height: 65px;
}
/* Para ajustar a largura da caixa de mensagem e do botão de enviar */
body .full-width{
    width: 100%;
    flex: 1 1 100%;
}
/* Estrutura da primeira parte (introdução) */
.intro-content{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap);
    min-height: 100vh;
}
.intro-text-content, .intro-img{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}
.intro-text-content h2{
    font-size: 6rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    line-height: 1.2;
}
.intro-img img, .intro-img svg{
    max-width: 100%;
    min-height: auto;
}
/* Estrtutura da segunda parte (texto) */
.top3-content{
    max-width: 64rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}
/* Estrutura da terceira parte (três tópicos) */
.grid-one-content{
    min-height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}
.grid-main-heading{
    margin-bottom: 1rem;
}
.grid-description{
    padding-bottom: 5rem;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    /* Criando um contador */
    counter-reset: grid-counter;
}
.grid h3{
    font-size: 4rem;
    position: relative;
    padding-left: 6rem;
    margin-bottom: 2rem;
    overflow-y: hidden;
}
.grid h3::before{
    counter-increment: grid-counter;
    /* Incrementando o contador */
    content: counter(grid-counter);
    /* Posicionando o contador */
    font-size: 8rem;
    font-style: italic;
    position: absolute;
    top: -4rem;
    left: -2rem;
    padding-left: 1rem;
    transform: rotate(5deg);
}
/* Estrutura da quarta parte (galeria) */
.gallery-img{
    width: 100%;
    height: 36rem;
    overflow: hidden;
}
.gallery-img img{
    transition: all 300ms ease-in-out;
}
.gallery-img img:hover{
    /* Translate (x, y) */
    /* Scale (aumenta em %) */
    transform: translate(-3%, 3%) scale(1.2);
}
/* Estrutura da quinta parte (tabela de preços) */
table{
    border-collapse: collapse;
}
caption{
    font-style: italic;
    font-size: 1.6rem;
    text-align: left;
    margin-bottom: 1rem;
}
thead, tfoot{
    background-color: lightgray;
}
td, th{
    white-space: nowrap;
    border: 0.1rem solid var(--light-gray-color);
    padding: 1rem;
    text-align: left;
}
/* Estrutura da sexta parte (contato) */
.contact-form{
    grid-column: span 2;
}
.contact-form .form-grid{
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap);
}
.form-group{
    flex: 1 1 320px;
}
.form-group label{
    display: block;
}
.form-group input, textarea{
    border: none;
    background: var(--white-color);
    padding: 1.5rem 2rem;
    width: 100%;
}
.form-group button{
    border: 0.5rem solid var(--white-color);
    background: none;
    color: var(--white-color);
    padding: 1.5rem 2rem;
    font-size: 3rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}
.form-group button:hover{
    background: var(--white-color);
    color: var(--primary-color);
}
/* Rodapé */
.footer{
    text-align: center;
    color: var(--primary-color);
}
.footer > p{
    margin-top: 40px;
}
.close-menu{
    display: none;
}
.back-to-top{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background: var(--white-color); 
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--primary-color);
}
/* Media Query */
@media (max-width: 800px){
    /* Ajustando a proporção das imagens */
    .intro-content, .grid{
        grid-template-columns: 1fr;
    }
    .gallery-img{
        width: 100%;
        max-width: 100%;
        max-height: 100%;
    }
    .gallery-img img{
        width: 100%;
    }
    .grid-one-content{
        display: block;
    }
    /* Ajustando o menu principal do site */
    .menu{
        bottom: 0;
        text-align: center;
    }
    .menu-content, .menu-content ul{
        flex-direction: column;
        justify-content: center;
    }
    .menu-content{
        height: 90vh;
        width: 100vw;
        background-color: white;
        z-index: 1;
    }
    .menu{
        display: none;
    }
    /* Customizando o layout do botão do menu */
    .close-menu-label::after{
        content: '|||';
        color: white !important;
        background-color: rgba(0, 0, 0, 0.432);
        position: fixed;
        z-index: 20;
        top: 2rem;
        right: 2rem;
        color: var(--primary-color);
        font-size: 3rem;
        border-radius: 10px;
        padding: 1.5rem;
        cursor: pointer;
    }
    /* Verifica se o menu foi pressionado */
    .close-menu:checked~.menu{
        display: block;
        cursor: pointer;
    }
    /* Removendo o espaço da parte de cima */
    .menu-spacing{
        height: 0;
    }
}