.texto{
    /* Definindo o formato */
    display: block;
    
    /* Tamanho da caixa */
    /* box-sizing: border-box; */

    /* Definindo o plano de fundo */
    background: red;

    /* Definindo a altura e a largura */
    width: 150px;
    /* Largura padrão = 100% */
    /* width: 100%; */
    height: 150px;

    /* Definindo os valores máximos */
    max-width: 100%;
    max-height: 100%;

    /* Definindo os valores mínimos */
    min-width: 0;
    min-height: 200px;

    /* O que passar da caixa, é escondido */
    /* overflow: hidden; */
    /* Escondendo automaticamente */
    /* Se passar, gera uma barra de rolagem */
    overflow: auto;

    /* Enchimento */
    padding: 54px;

    /* Margem */
    margin: 0 auto 50px auto;

    /* Borda (shorthand) */
    border: 5px solid black;

    /* Borda (individual) */
    /* border-width: 5px;
    border-style: dashed;
    border-color: cyan;
    */
}