*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex-container{
    /* ! Definindo como flexbox */
    display: flex;

    /* ! Configurações específicas */
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;

    /* Direção dos itens:
    row = horizontal
    column = vertical
    */
    /* flex-direction: column; */

    /* space-around = O box se ajusta
    ao tamanho dos itens internos   */
    /* justify-content: space-around; */

    /* ! Outras configurações */
    background: yellow;
    height: 640px;
}
.flex-item{
    color: white;
    background: red;
    margin: 10px;
}
.flex-item:nth-child(3){
    font-size: 40px;
}