#container{
    background-image: url('imagens/target001.png');
    background-size: 100% 100%;
    height: 90vh;
    padding: 10px;
    background-color: purple;
    position: relative;
}
#conteudo{
    background-image: url('imagens/target001.png');
    background-size: 100% 100%;

    /* Posição absoluta: Permite alterar
    a posição do elemento independente da página */
    position: absolute;
    height: 200px;
    width: 400px;

    /* Só é possível alterar com position absolute */
    /* Leva em consideração o elemento de fundo */
    /* left: 100px;
    top: 200px; */
    left: 50%;
    top: 50%;

    /* Translate = Move o elemento pela tela */
    /* Pode ser em px ou % */
    transform: translate(-50%, -50%);
    background-color: yellow;
    margin: auto;
}