.tasks{
    margin-top: 30px;
}
.tasks li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 20px;
}
.tasks li:hover{
    background-color: lightblue;
    transition: all 600ms;
}
.tasks li .edit{
    margin-right: 15px;
    color: green;
    cursor: pointer;
}
.tasks li .delete{
    margin-right: 15px;
    color: red;
    cursor: pointer;
}