p{
    /* ! Cores */

    /* Cor do texto */
    color: red;

    /* Cor de fundo */
    background-color: yellow;

    /* ! Fonte */

    /* Tamanho */
    font-size: 20px;

    /* Estilo */
    font-style: italic;

    /* Negrito */
    font-weight: bold;

    /* Direção */
        /* rtl = right to left (direita para esquerda */
        /* ltr = left to right (esquerda para direita = padrão) */
    /* direction:rtl; */
    
    /* Espaçamento entre as letras */
    letter-spacing: 5px;

    /* Espaçamento entre as palavras */
    word-spacing: 5px;

    /* Altura da linha */
    line-height: 40px;

    /* Alinhamento (centro, direita, esquerda) */
    /* text-align: center; */

    /* Decoração */
        /* Tachado */
    /* text-decoration: line-through; */
        /* Sublinhado */
    /* text-decoration: underline; */
        /* Mais de um */
    /* text-decoration: overline underline line-through; */

    /* Identação */
    text-indent: 50px;

    /* Sombreado */
    text-shadow: 2px 2px 2px purple;

    /* Transformar */
        /* Começando com letra maiuscula */
    text-transform: capitalize;
        /* Tudo em minuscula */
    text-transform: lowercase;
        /* Tudo em maiuscula */
    text-transform: uppercase;
}