/* Regra geral */
*{
    margin: 0;
    padding: 0;
}

/* Selecionando por classe */
.color-red{
    color: red;
}

/* Aplica-se apenas nas classes 
"main-content" que tenham h2 */
.main-content h2{
    font-style: italic;
}

/* Selecionando subclasses */
/* Aplica-se nas classes "main-content" 
que tenham subclasses "heading" */
.main-content .heading{
    font-style: italic;
    color: yellow;
}

/* Selecionado por subclasse mencionando a origem */
/* Aplica-se na seções "div" que tenham classes "main-content"
e que tenham subseções "h2" que tenham classes "testando" */
div.main-content h2.testando{
    font-style: italic;
    color: cyan;
}

/* Juntando duas classes */
/* Classe = "main-content testando" */
.main-content.testando{
    font-style: italic;
    color: purple;
}

/* ">" = Herança Direta */
/* Vai direto para a herança, não pode ter
classes intermediárias ou outras seções entre
a classe "pai" e a classe "filha" */
/* Ideal que sejam do mesmo tipo de seção
(Ex: div > div > div) */
.pai > .filha{
    color:aquamarine;
}

/* Posso colocar outros tipos de seções no meio da hierarquia,
mas devo especificar de que tipo de seção estou falando */
/* Posso utilizar seções genéricas também (Ex: span) */
.idoso > .adulto > span > .crianca{
    color:chartreuse;
}

/* Seleção particular de adjacentes (+) */
/* O primeiro "p" que vier imediatamente depois do "h1", recebe o efeito do CSS */
.odin h1+p{
    color: cyan;
}
.odin p+h1{
    color: red;
}

/* Seleção geral de adjacentes (~) */
/* Os "p" que vierem depois do "h1", recebem o efeito do CSS */
.zeus h1~p{
    color: green;
}

/* Diferença entre geral (~) e particular (+) */
/* .loki .um~.dois{
    color: red;
} */
.loki .um + .dois{
    color: red;
}

/* Selecionando atributos (originais) genéricos */
[sem-valor]{
    color: cyan;
}

/* Selecionando atributos (originais) com valor específico */
[com-valor="valor"]{
    color: red;
}

/* Selecionando atributos (originais) com valores aproximados */
/* Aproximado (|=): Basta ter a palavra no valor (não precisa ser o valor completo) */
[com-valor|="qualquercoisa"]{
    color: purple;
}

/* Começando com (^=): Basta ter a palavra no começo (não precisa de hífen) */
[com-valor^="comecando"]{
    color: yellow;
}

/* Terminando com ($=): Basta ter a palavra no final*/
[com-valor$="terminando"]{
    color: green;
}

/* Contém (*=): Basta ter um trecho da palavra, em qualquer lugar */
[com-valor*="a de fu"]{
    color: turquoise;
}

/* Selecionando atributos padrões */
[checked]{
    width: 50px;
    height: 50px;
}
