*{
    margin: 0;
}
.filha1, .filha2, .filha3, .filha4{
    width: 300px;
    height: 300px;
    background: rgba(0, 128, 0, 0.541);
    margin: 10px;
    /* Definindo uma posição fixa */
    position: static;
}
.filha2{
    background: rgba(0, 0, 255, 0.39);
    float: left;
}
.filha1{
    /* Definindo uma posição relativa */
    /* Posição depende da página
    (interfere com os outros elementos) */
    position: relative;

    /* Definindo uma posição absoluta */
    /* Posição independente da página
    (não interfere com os outros elementos) */
    /* ! Serve para colocar uma coloração (filtro por cima) no site */
    position: absolute;

    /* Distância do topo */
    /* top: 50px; */

    /* Distância da esquerda */
    /* left: 50px; */

    width: 100%;
    height: 100%;
    margin: 0;
}
.filha3{
    position: absolute;
    top: 50%;
    margin-top: -150px;
    left: 50%;
    background: red;

    /* Definindo a segunda camada */
    /* Trazendo para frente */
    /* ! O z-index maior sempre vai ficar por cima do valor menor */
    z-index: 2;

    /* Trazendo para trás de todos */
    z-index: -1;
}
.filha4{
    left: 50%;
    position: relative;
    background: greenyellow;

    /* Definindo a primeira camada */
    /* Trazendo para trás */
    z-index: 1;
}
.outra{
    /* ! Fixando a <div> na página durante a rolagem */
    position: fixed;
    font-size: 50px;
    background: yellow;
    /* top: 50px; */
    right: 0px;
    bottom: 0;
}
ul{
    height: 100px;
    overflow-y: auto;
}
ul li.sticky{
    /* ! Fixando o elemento na página durante a rolagem */
    position: sticky;
    background: gray;
    top: 0;
}