/* 
ACIMA: !important = Em qualquer seletor
ACIMA: <style> direto no HTML
ID        Classes, atributos e pseudo-classes          Elementos e pseudo-elementos
1            0                                             0
0            1                                             0
1            1                                             0
1            0                                             1
1            1                                             1
2            1                                             1
2            2                                             2
 */

/* REGRAS DE DESEMPATE
1º CRITÉRIO: ESPECIFICIDADE
2º CRITÉRIO: STYLE
3º CRITÉRIO: !important
*/

 /* 100 */
#p{
    background: red;
}
/* 010 */
.p{
    background: yellow !important;
}
/* ID vence sobre classe */

/* Superando a especificidade */
/* 110 */
#p.p{
    background: yellow;
}

/* 101 */
/* Não supera (perde para 110) */
p#p{
    background-color: red;
}

/* 111 */
/* Supera (01 id, 01 classe, 01 elemento) */
p#p.p{
    background-color: red;
}

/* 211 */
/* Supera (tem 02 id) */
#b p#p.p{
    background-color: purple;
}

/* 222 */
/* Supera (tem 02 id e 02 classes) */
body#b.bclass p#p.p{
    background: cyan;
}