/* Classe normal */
.heading{
    /* Efeito de transição */
    transition: all 300ms ease-in-out;
}

/* hover = Ao passar o mouse */
.heading:hover{
    background: red;
}

/* Tag normal de link */
a{
    color:darkorange;
    text-decoration: none;
}

/* link = Links não visitados */
a:link{
    color:pink;
}

/* visited = Links visitados */
a:visited{
    color:green;
}

/* hover = Ao passar o mouse */
a:hover{
    /* background-color: darkslateblue; */
    text-decoration:underline;
}

/* active = O elemento está sendo clicado */
a:active{
    color: yellow;
}

/* focus = Quando input estiver selecionado */
/* input:focus{
    box-shadow: 0 0 5px cyan;
    outline: none;
    border: 1px solid black;
} */

/* disabled = Quando o input estiver desativado */
/* input:disabled{
    background-color: red;
    cursor: not-allowed;
} */

/* enabled = Quando o input estiver ativado */
/* input:enabled{
    background-color: green;
} */

/* checked + p = Quando a caixa for selecionada,
o <p> muda para a cor vermelha (só afeta o primeiro <p>) */
input:checked+p{
    background-color: red;
}

/* required = Input obrigatório */
input:required{
    background-color: red;
}

/* ! Grupo de irmãos */
/* first-child = Selecionando o primeiro item da lista */
.pai li:first-child{
    background-color: purple;
}

/* last-child = Selecionando o último item da lista */
.pai li:last-child{
    background-color: red;
}

/* Selecionando um item de uma lista (indice 2) */
ul li:nth-child(2){
    font-size: 40px;
}

/* Selecionando indice par (even) */
ul li:nth-child(even){
    background-color: rebeccapurple;
}

/* Selecionando indice impar (odd) */
ul li:nth-child(odd){
    background-color: red;
}

/* Pulando de 03 em 03 */
ul li:nth-child(3n){
    font-size: 25px;
}

/* Pulando de 03 em 03, começando do 05 */
ul li:nth-child(3n+5){
    font-size: 200px;
}

/* Não selecionando um elemento de uma classe */
p:not(.meio){
    color: yellow;
}

/* Não selecionando um input */
input:not(checked)+p{
    background-color: gray;
}
