/* Todas as demais mídias */

/* Resolução das interfaces
Telas pequenas: até 600px
Celular: 600px - 768px
Tablet: 768px - 992px
Desktop: 992px - 1200px
Telas grandes: acima de 1200px
*/

/* Impressora */
@media print{
    *{
        font-family: 'Courier New', Courier, monospace;
    }
    /* ! Não precisa de background-image, pois papel não imprime imagens de fundo! */
    /* background-image: url('imagens/back-print.jpg'); */
    main{
        width: 90px;
        border: 2px solid black;
    }
    main::after{
        content:"Conteúdo impresso.";
        text-decoration: overline;
    }
    main h1{
        text-shadow: none;
        color: black;
    }
    #phone{
        display: none;
    }
    #tablet{
        display: none;
    }
    #tv{
        display: none;
    }
    #pc{
        display: none;
    }
    #print{
        display: block;
    }
}
/* Tablet */
@media screen and (min-width: 768px) and (max-width: 992px){
    body{
        background-image: url('imagens/back-tablet.jpg');
    }
    #phone{
        display: none;
    }
    #tablet{
        display: block;
    }
    #tv{
        display: none;
    }
    #pc{
        display: none;
    }
    #print{
        display: none;
    }
}
/* Desktop */
@media screen and (min-width: 992px) and (max-width: 1200px){
    body{
        background-image: url('imagens/back-pc.jpg');
    }
    #phone{
        display: none;
    }
    #tablet{
        display: none;
    }
    #tv{
        display: none;
    }
    #pc{
        display: block;
    }
    #print{
        display: none;
    }
}
/* Grandes Telas */
@media screen and (min-width: 1200px){
    body{
        background-image: url('imagens/back-tv.jpg');
    }
    main{
        width: 700px;
    }
    #phone{
        display: none;
    }
    #tablet{
        display: none;
    }
    #tv{
        display: block;
    }
    #pc{
        display: none;
    }
    #print{
        display: none;
    }
}